/build/*
!/build/package.json
.vscode/settings.json

/builds
/Builds/*
/msvs2017
/msvs2019
/msvs2022
/temp
/3rdparty/assimp
/3rdparty/devil_1_7_8
/3rdparty/devil_1_8_0
/3rdparty/downloads
/3rdparty/glew
/3rdparty/glfw
/3rdparty/optix-toolkit
/3rdparty/MDL_SDK

/.idea
/cmake-build*
*.user

CMakeLists.txt.user
nsight_compute_trace_restir.ncu-rep
/.vscode
